<head>

<style>
    .paragraphs {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: #555;
        line-height: 1.6;
        text-align: center;
    }
    .par{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;

    }
</style>
</head>

{% extends "app/base.html" %}

{% block title %}<p class='par'>Neha Verma Traditional Clothing</p>{% endblock %}

{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Welcome to Neha Verma Woman Traditional Clothing Website</h1>
      <p class="paragraphs">Neha Verma is dedicated to bringing you the finest selection of traditional women's clothing.</p>
      <p class="paragraphs">Our collection includes a wide range of sarees, lehengas, ghararas, capes, and more, all crafted with exquisite attention to detail and quality.</p>
      <p class="paragraphs">With a focus on elegance and timeless beauty, Neha Verma Woman Traditional Clothing offers pieces that celebrate femininity and cultural heritage.</p>
      <p class="paragraphs">Explore our collection and find the perfect outfit for every occasion!</p>
  </div>
    </div>
  </div>
</div>
{% endblock main-content %}
