{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <div class="card shadow p-5">
    <h3 class="card-title text-center mb-4">Login</h3>
    <hr>
    <form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
     <div class="mb-3">
      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
      {{ field }}
      <small class="text-danger">{{ field.errors|striptags }}</small>
     </div>
    {% endfor %}
    <div class="mb-3">
     <small><a href="{%url 'password_reset'%}">Forgot Password?</a></small>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <br>
    <div class="text-center mt-3">
     <small>New to Neha Verma? <a href="{% url 'customerregistration' %}" class="text-danger">Create an Account</a></small>
    </div>

    {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
      <p class="alert alert-danger my-3">{{ error }}</p>
     {% endfor %}
    {% endif %}
    </form>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}
